name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Maryam-Skaik

          # Animation speed (lower = faster)
          animation_speed: 3

          # Transparent background
          background: transparent

          # Snake & grid colors
          snake_color: "#F75C7E"
          grid_color: "#30363d"
          grid_color_dark: "#161b22"

          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
